{% extends 'base.html' %}
{% block content %}
<div class="box">
  <h2 class="subtitle">Job {{ job.id }}</h2>
  <p><strong>Players:</strong> {{ job.player_ids }}</p>
  <p><strong>Status:</strong> {{ job.status }}</p>
  <p><strong>Created:</strong> {{ job.created_at }}</p>
  <p><strong>Finished:</strong> {{ job.finished_at }}</p>
  {% if job.result_csv %}
    <p><a class="button" href="/jobs_data/{{ job.result_csv | basename }}">Download Result CSV</a></p>
  {% endif %}
  <a class="button" href="/jobs">Back</a>
</div>
{% endblock %}
